[data-app='champion-list'] [data-app='left-bar'] {
    margin: 0 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

[data-app='champion-list'] [data-app='left-bar'] [data-app='content'] {
    flex: 1;
}

[data-app='champion-list'] [data-app='left-bar'] [data-app='content'] [data-app='filtre-list-titre'] {
    color: #37474f;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
    height: 36px;
    line-height: 36px;
}

[data-app='champion-list'] [data-app='left-bar'] [data-app='content'] [data-app='element-list-titre'] {
    color: #37474f;
    font-weight: bold;
    margin-top: 30px;
}

[data-app='champion-list'] [data-app='left-bar'] [data-app='version'] {
    font-style: italic;
    text-align: center;
    margin-bottom: 15px;
}

[data-app='champion-list'] [data-app='chart-list'] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

[data-app='champion-list'] [data-app='footer'] {
    color: #37474f;
    font-style: italic;
}
